/* Layout.css */

header {
    height: 60px;
  width: 100%;
  background-color: #bbc3d0;
  color: white;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

header nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
  transition: color 0.2s ease;
}

header nav a:hover {
  color: #ffdd00;
}

footer {
  width: 100%;
  background-color: #989ea4;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: 40px;
  height: 50%;
}


/* Make the whole page a flex container */
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100px;
}

/* Make main content take all available space */
main {
  flex: 1;
}